html body {
  background-color: #fff;
}

.bloglo-blog-horizontal .bloglo-article.post.sticky {
  outline: none;
}

.bloglo-blog-horizontal .bloglo-article.post.sticky .entry-media {
  outline: 5px solid var(--bloglo-primary_15);
}

.widget.bloglo-entry .wp-block-image + p {
  margin-top: 0;
}

.widget.bloglo-entry .wp-block-image figure,
#page .widget.bloglo-entry .wp-block-image figure {
  margin: 0 1rem 0 0;
}

#page .widget.bloglo-entry .wp-block-social-links {
  margin-bottom: 0;
}

body.bloglo-menu-animation-squarebox:not(.bloglo-is-mobile)
  #bloglo-header-inner
  .bloglo-nav
  > ul
  > li
  > a {
  padding: 0.4rem 1.4rem 0.4rem;
}

body.bloglo-blog-horizontal .bloglo-article:not(.format-quote) .entry-meta {
  margin-top: 1.6rem;
}

body .navigation .nav-links .bloglo-animate-arrow,
body .navigation .nav-links .page-numbers,
body .page-links > span {
  background-color: transparent;
}

.bloglo-btn.btn-small {
  font-size: 95% !important;
}

.entry-footer .bloglo-btn.btn-text-1 {
  letter-spacing: 0.02rem;
  padding: 0.8rem 2.4rem !important;
  color: #fff;
  background-color: var(--bloglo-primary) !important;
}

.entry-footer .bloglo-btn.btn-text-1 > span::before {
  display: none;
}

.entry-footer .bloglo-btn.btn-text-1,
.wp-block-search .wp-block-search__button,
body .bloglo-btn:not(.btn-text-1) {
  line-height: 1.8;
  border-radius: 7px !important;
  transform: translate(0px, 0px) !important;
  box-shadow: 0 10px 18px 0 var(--bloglo-primary_27) !important;
  -webkit-transition: var(--bloglo-transition-primary);
  transition: var(--bloglo-transition-primary);
}

.entry-footer .bloglo-btn.btn-text-1:active,
.wp-block-search .wp-block-search__button:active,
body .bloglo-btn:not(.btn-text-1):active,
.entry-footer .bloglo-btn.btn-text-1:hover,
.wp-block-search .wp-block-search__button:hover,
body .bloglo-btn:not(.btn-text-1):hover {
  color: #fff;
  transform: translateY(-2px) !important;
  box-shadow: 0 10px 18px 0 var(--bloglo-primary_09) !important;
}

body .navigation .nav-links .page-numbers:not(.prev, .next).current,
body .navigation .nav-links .page-numbers:hover button,
body.using-keyboard .navigation .nav-links .page-numbers:focus button,
body .navigation .nav-links .page-numbers:not(.prev, .next):hover,
body.using-keyboard
  .navigation
  .nav-links
  .page-numbers:not(.prev, .next):focus,
body .page-links a:hover span,
body.using-keyboard .page-links a:focus span,
body.bloglo-menu-animation-squarebox:not(.bloglo-is-mobile)
  #bloglo-header-inner
  .bloglo-nav
  > ul
  > li.current-menu-item
  > a,
body.bloglo-menu-animation-squarebox:not(.bloglo-is-mobile)
  #bloglo-header-inner
  .bloglo-nav
  > ul
  > li.current_page_item
  > a,
body.bloglo-menu-animation-squarebox:not(.bloglo-is-mobile)
  #bloglo-header-inner
  .bloglo-nav
  > ul
  > li
  > a:hover,
body.bloglo-menu-animation-squarebox:not(.bloglo-is-mobile).using-keyboard
  #bloglo-header-inner
  .bloglo-nav
  > ul
  > li
  > a:focus {
  color: #fff !important;
  box-shadow: 0 10px 18px 0 var(--bloglo-primary_27);
}

.entry-footer .bloglo-btn.btn-text-1:active,
.wp-block-search .wp-block-search__button:active,
body .bloglo-btn:not(.btn-text-1):active {
  transform: translateY(0px) !important;
}

/* Post content bg color */
.ticker-slider-items,
.pyml-slider-items,
.author .author-box,
.bloglo-sidebar-style-3 #secondary .bloglo-widget,
.bloglo-sidebar-style-3 .elementor-widget-sidebar .bloglo-widget {
  border-radius: 1.5rem !important;
  box-shadow: none !important;
  border: 0.1rem solid rgba(190, 190, 190, 0.2);
}

html:not([data-theme="dark"]) .ticker-slider-items,
html:not([data-theme="dark"]) .pyml-slider-items,
html:not([data-theme="dark"]) .author .author-box,
html:not([data-theme="dark"]) .bloglo-sidebar-style-3 #secondary .bloglo-widget,
html:not([data-theme="dark"])
  .bloglo-sidebar-style-3
  .elementor-widget-sidebar
  .bloglo-widget {
  background: #fff9f3;
  border: 0.1rem solid #ffe7d2 !important;
}

.ticker-slider-items .ticker-title {
  border-radius: 0.8rem;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.ticker-slider-controls .ticker-slider-pause {
  border-radius: 0.8rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.bloglo-sidebar-style-3.is-section-heading-init-s2 #secondary .bloglo-widget {
  position: relative;
  margin-bottom: 4.5rem;
}

.is-section-heading-init-s2 #pyml .pyml-slider-items .widget-title,
.bloglo-sidebar-style-3.is-section-heading-init-s2
  #secondary
  .bloglo-widget
  .widget-title,
.bloglo-sidebar-style-3.is-section-heading-init-s2
  #secondary
  .bloglo-widget
  .wp-block-search
  .wp-block-search__label,
.bloglo-sidebar-style-3.is-section-heading-init-s2
  #secondary
  .bloglo-widget
  .wp-block-heading {
  position: absolute;
  left: 2.5rem;
  top: -1.8rem;
  z-index: 2;
}

.is-section-heading-init-s2 #featured_links .widget-title,
.is-section-heading-init-s2 #pyml .pyml-slider-items .widget-title,
.is-footer-heading-init-s2 #bloglo-footer .wp-block-heading,
.is-footer-heading-init-s2 #bloglo-footer .widget-title,
.is-section-heading-init-s2:not(.bloglo-sidebar-style-1)
  #secondary
  .bloglo-widget
  .widget-title,
.is-section-heading-init-s2:not(.bloglo-sidebar-style-1)
  #secondary
  .bloglo-widget
  .wp-block-search
  .wp-block-search__label,
.is-section-heading-init-s2:not(.bloglo-sidebar-style-1)
  #secondary
  .bloglo-widget
  .wp-block-heading {
  letter-spacing: 0.25px;
  width: auto;
  line-height: 1.2;
  display: inline-block;
  padding: 8px 25px 7px;
  background-color: #fff;
  border-radius: 10rem;
  margin-bottom: 0;
  border: 1px solid rgba(39, 39, 39, 0.75);
}

html[data-theme="dark"]
  .is-section-heading-init-s2
  #featured_links
  .widget-title,
html[data-theme="dark"]
  .is-footer-heading-init-s2
  #bloglo-footer
  .wp-block-heading,
html[data-theme="dark"] .is-footer-heading-init-s2 #bloglo-footer .widget-title,
html[data-theme="dark"]
  .is-section-heading-init-s2
  #pyml
  .pyml-slider-items
  .widget-title,
html[data-theme="dark"]
  .is-section-heading-init-s2:not(.bloglo-sidebar-style-1)
  #secondary
  .bloglo-widget
  .widget-title,
html[data-theme="dark"]
  .is-section-heading-init-s2:not(.bloglo-sidebar-style-1)
  #secondary
  .bloglo-widget
  .wp-block-search
  .wp-block-search__label,
html[data-theme="dark"]
  .is-section-heading-init-s2:not(.bloglo-sidebar-style-1)
  #secondary
  .bloglo-widget
  .wp-block-heading {
  background-color: rgba(0, 0, 0, 0.75);
  border: 0.1rem solid rgba(190, 190, 190, 0.3);
}

.is-section-heading-init-s2:not(.bloglo-sidebar-style-1)
  #secondary
  .bloglo-widget
  .wp-block-search
  .wp-block-search__inside-wrapper {
  padding-top: 2.2rem;
}

.is-section-heading-init-s2 #pyml .pyml-slider-items {
  position: relative;
}

.is-section-heading-init-s2
  #pyml
  .pyml-slider-items
  .widget-title
  + .bloglo-flex-row.gy-4 {
  margin-top: 0;
}

/* Custom CSS */

.bloglo-blog-horizontal .bloglo-flex-row.g-4 {
  --bloglo-gutter-y: 4.8rem;
  --bloglo-gutter-x: 4.8rem;
}

.bloglo-blog-horizontal
  .bloglo-article:not(.format-quote)
  .bloglo-blog-entry-wrapper.bloglo-thumb-left
  .entry-media {
  border-radius: 0.8rem;
}

body .pyml-slide-item .pyml-slider-backgrounds .pyml-slide-bg,
body .wp-block-latest-posts__featured-image {
  border: 0.1rem solid rgba(39, 39, 39, 0.75);
  border-radius: 0.8rem;
  box-shadow: 2px 2px 3px 0px rgba(93, 112, 234, 0.1);
}

.pyml-slider-items {
  padding: 2.2rem;
}

@keyframes rise {
  0% {
    bottom: -100px;
    transform: translateX(0) rotate(0deg);
  }

  50% {
    transform: translate(100px) rotate(180deg);
  }

  100% {
    bottom: 1080px;
    transform: translateX(-200px) rotate(360deg);
  }
}

/* Dynamic CSS */
[data-theme="dark"] .bloglo-breadcrumbs {
  background-color: transparent;
  border-color: rgba(190, 190, 190, 0.3);
}

html[data-theme="dark"] .bloglo-sidebar-style-3 #secondary .bloglo-widget {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Block CSS */

.content-area .wp-block-site-title a:not(:hover, :focus) {
  color: inherit;
}

.content-area
  .wp-block-site-title
  a:not(.bloglo-btn):not(.wp-block-button__link):hover,
.content-area
  .wp-block-site-title
  a:not(.bloglo-btn):not(.wp-block-button__link):focus {
  color: var(--bloglo-primary);
}

.single .entry-content .wp-block-avatar img {
  margin: 0;
}

.wp-block-navigation .wp-block-page-list {
  margin: 0;
}

.content-area
  .bloglo-entry
  .wp-block-navigation:where(:not([class*="has-text-decoration"]))
  a,
.wp-block-navigation:where(:not([class*="has-text-decoration"])) a {
  text-decoration: none;
}

.wp-block-navigation .has-child .wp-block-navigation__submenu-container {
  list-style: none;
  margin: 0;
}

.wp-block-navigation
  .wp-block-page-list
  > .wp-block-navigation-item:not(:first-child) {
  margin-left: 1rem;
}

.wp-block-file {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wp-block-file a:not(.wp-block-file__button) {
  font-weight: 700;
}

#page #main .wp-block-cover .wp-block-cover-text a,
#page #main :where(.wp-block-cover-image:not(.has-text-color)),
#page #main :where(.wp-block-cover:not(.has-text-color)) {
  color: #fff;
}

.post-category a:hover,
.post-category a:focus {
  text-decoration: underline;
}

.wp-block-categories-dropdown.wp-block-categories {
  margin-top: 16px;
}
